@import 'tailwindcss';

body {
  margin: 0;
}

.phone-scale {
  zoom: min(0.82, calc(69.3vh / 920px));
}

@media (min-width: 1024px) {
  .phone-scale {
    zoom: min(1.07, calc(85.7vh / 920px));
  }
}

@media (min-width: 1280px) {
  .phone-scale {
    zoom: min(1.26, calc(90.7vh / 920px));
  }
}
